@model evoART.Models.LoginModel.Login
@{
    Layout = null;
}

<style>
    .border {
        border-color: red;
        border-width: 1px;
        border-style: solid;
    }
</style>

<script>
    function testResponse(data)
    {
        if (data == "K") document.location.reload(true);
        if (data == "U") document.getElementById("UserName").style.border = "solid 2px red";
        if (data == "P") document.getElementById("Password").style.border = "2px solid red";
    }
</script>

@using (Ajax.BeginForm("Login", "Account", new AjaxOptions { UpdateTargetId = "test", OnSuccess="testResponse(data)"}))
{
    <table>
        <tr>
            <td>@Html.LabelFor(m => m.UserName)</td>
            <td>@Html.TextBoxFor(m => m.UserName)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.Password)</td>
            <td>@Html.PasswordFor(m => m.Password)</td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input class="btn" type="submit" value="Log in" />
            </td>
        </tr>
    </table>
}
<div id="test"></div>