@{
    ViewBag.Title = "Home Page";
}

<span id="status">No Status</span>

@Ajax.ActionLink("Update Status", "GetStatus", "Account", new AjaxOptions { UpdateTargetId = "status" })


<br>

@using (Ajax.BeginForm("UpdateForm", "Account", new AjaxOptions { UpdateTargetId = "textEntered" }))
{
    @Html.TextBox("textBox1", "Enter text")
    <input type="submit" value="Submit" /><br />
    <span id="textEntered">Nothing Entered</span>
}

