@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error 404 - Page not found</title>
    <style>
        body {
            background-image: url("/Content/Images/Error404.jpg");
            background-attachment: fixed;
            -ms-background-size: cover;
            background-size: cover;
        }

        #bigtitle {
            font-size: 60px;
            color: red;
            font-family: sans-serif;
        }

        #bodytext {
            font-size: 25px;
            color: whitesmoke;
            font-family: monospace;
        }
    </style>
</head>
<body>
    <span id="bigtitle">
        404: Page not found
    </span>
    <br/><br/>
    <span id="bodytext">
        You seem to be lost...
        <br/>
        Try going back to our main page:
        <a href="/">evoART</a> :)

    </span>
</body>
</html>
