@model evoART.Models.ViewModels.AlbumsModel
@using System.Data.Entity.Core.Common.EntitySql
@using System.Web.UI.WebControls



@if (Model == null || Model.Albums == null)
{

    <h1>This user does not exist, so it doesn't have an album!</h1>
}
else
{
    ViewBag.Title = Model.Albums[0].UserAccount.UserName + "'s albums";

    <h1>@ViewBag.Title</h1>

    <hr>
    <!-- Model.Albums[0].Photos.ToArray()[0].PhotoId;  asta e id-ul unei poze-->


    <div class="row">
        @for (var i = 0; i < Model.Albums.Length; i++)
{
    <div class="col-sm-3">
        <div class="thumbnail">
            <a href="/Albums/Album/@Model.Albums[i].AlbumId">
                <img src="/Content/Images/300x200.svg" alt="...">
            </a>
            <div class="caption">
                <h3>@Model.Albums[i].AlbumName</h3>
                <p>
                    @Model.Albums[i].AlbumDescription
                </p>
                

                <div class="btn-group">
                    <a href="/Albums/Album/@Model.Albums[i].AlbumId" class="btn btn-primary" role="button">Go to the album</a>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            Edit album
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Delete album</a></li>
                            <li><a href="#">Dropdown link</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
    </div>
}